<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestingWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\SystemLog" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n" />
      </layout>
    </appender>
    <root>
      <level value="all" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add connectionString="Data Source=192.168.6.235;Initial Catalog=Sys_SmsMsgDB;User ID=sa;password=yikang;Connect Timeout=5" name="connStr"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--短信账号-->
    <add key="regcode" value="ZXHD-CRM-0100-ZMVCBP"/>
    <!--短信密码-->
    <add key="pwd" value="79268835"/>
    <!--短信唯一Key-->
    <add key="mobileKey" value="077be2c9df20b1c08a3d7df3d60f837d"/>
    <!--短信通道-->
    <add key="PipeId" value="0"/>
    <!--短信发送接口-->
    <add key="mobileSendPath" value="http://sms.pica.com:8082/zqhdServer/sendSMS.jsp"/>
    <!--短信接收接口-->
    <add key="mobileReceivePath" value="http://sms.pica.com:8082/zqhdServer/recvSMS.jsp"/>
    <!--短信状态报告接口-->
    <add key="mobileReportPath" value="http://sms.pica.com:8082/zqhdServer/getreport.jsp"/>
    <!--数据库连接地址-->
    <add key="dbSource" value="192.168.6.235"/>
    <!--WebService连接地址-->
    <add key="webservice" value="http://192.168.6.235:8075/SmsMsg.asmx"/>
    <!--系统默认账号-->
    <add key="adminName" value="yikang"/>
    <!--系统默认ID-->
    <add key="adminID" value="1"/>
  </appSettings>
  <applicationSettings>
    <TestingWindow.Properties.Settings>
      <setting name="TestingWindow_SmsMsg_SmsMsg" serializeAs="String">
        <value>http://192.168.6.235:8075/SmsMsg.asmx</value>
      </setting>
    </TestingWindow.Properties.Settings>
  </applicationSettings>
</configuration>